<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>english</key>
	<dict>
		<key>location</key>
		<integer>1</integer>
		<key>q</key>
		<dict>
			<key>label</key>
			<string>q</string>
			<key>frame</key>
			<string>{{0,0},{32,54}}</string>
		</dict>
		<key>w</key>
		<dict>
			<key>label</key>
			<string>w</string>
			<key>frame</key>
			<string>{{32,0},{32,54}}</string>
		</dict>
		<key>e</key>
		<dict>
			<key>label</key>
			<string>e</string>
			<key>frame</key>
			<string>{{64,0},{32,54}}</string>
		</dict>
		<key>r</key>
		<dict>
			<key>label</key>
			<string>r</string>
			<key>frame</key>
			<string>{{96,0},{32,54}}</string>
		</dict>
		<key>t</key>
		<dict>
			<key>label</key>
			<string>t</string>
			<key>frame</key>
			<string>{{128,0},{32,54}}</string>
		</dict>
		<key>y</key>
		<dict>
			<key>label</key>
			<string>y</string>
			<key>frame</key>
			<string>{{160,0},{32,54}}</string>
		</dict>
		<key>u</key>
		<dict>
			<key>label</key>
			<string>u</string>
			<key>frame</key>
			<string>{{192,0},{32,54}}</string>
		</dict>
		<key>i</key>
		<dict>
			<key>label</key>
			<string>i</string>
			<key>frame</key>
			<string>{{224,0},{32,54}}</string>
		</dict>
		<key>o</key>
		<dict>
			<key>label</key>
			<string>o</string>
			<key>frame</key>
			<string>{{256,0},{32,54}}</string>
		</dict>
		<key>p</key>
		<dict>
			<key>label</key>
			<string>p</string>
			<key>frame</key>
			<string>{{288,0},{32,54}}</string>
		</dict>
		<key>a</key>
		<dict>
			<key>label</key>
			<string>a</string>
			<key>frame</key>
			<string>{{16,54},{32,54}}</string>
		</dict>
		<key>s</key>
		<dict>
			<key>label</key>
			<string>s</string>
			<key>frame</key>
			<string>{{48,54},{32,54}}</string>
		</dict>
		<key>d</key>
		<dict>
			<key>label</key>
			<string>d</string>
			<key>frame</key>
			<string>{{80,54},{32,54}}</string>
		</dict>
		<key>f</key>
		<dict>
			<key>label</key>
			<string>f</string>
			<key>frame</key>
			<string>{{112,54},{32,54}}</string>
		</dict>
		<key>g</key>
		<dict>
			<key>label</key>
			<string>g</string>
			<key>frame</key>
			<string>{{144,54},{32,54}}</string>
		</dict>
		<key>h</key>
		<dict>
			<key>label</key>
			<string>h</string>
			<key>frame</key>
			<string>{{176,54},{32,54}}</string>
		</dict>
		<key>j</key>
		<dict>
			<key>label</key>
			<string>j</string>
			<key>frame</key>
			<string>{{208,54},{32,54}}</string>
		</dict>
		<key>k</key>
		<dict>
			<key>label</key>
			<string>k</string>
			<key>frame</key>
			<string>{{240,54},{32,54}}</string>
		</dict>
		<key>l</key>
		<dict>
			<key>label</key>
			<string>l</string>
			<key>frame</key>
			<string>{{272,54},{32,54}}</string>
		</dict>
		<key>shift</key>
		<dict>
			<key>label</key>
			<string>shift</string>
			<key>frame</key>
			<string>{{0,108},{48,54}}</string>
		</dict>
		<key>z</key>
		<dict>
			<key>label</key>
			<string>z</string>
			<key>frame</key>
			<string>{{48,108},{32,54}}</string>
		</dict>
		<key>x</key>
		<dict>
			<key>label</key>
			<string>x</string>
			<key>frame</key>
			<string>{{80,108},{32,54}}</string>
		</dict>
		<key>c</key>
		<dict>
			<key>label</key>
			<string>c</string>
			<key>frame</key>
			<string>{{112,108},{32,54}}</string>
		</dict>
		<key>v</key>
		<dict>
			<key>label</key>
			<string>v</string>
			<key>frame</key>
			<string>{{144,108},{32,54}}</string>
		</dict>
		<key>b</key>
		<dict>
			<key>label</key>
			<string>b</string>
			<key>frame</key>
			<string>{{176,108},{32,54}}</string>
		</dict>
		<key>n</key>
		<dict>
			<key>label</key>
			<string>n</string>
			<key>frame</key>
			<string>{{208,108},{32,54}}</string>
		</dict>
		<key>m</key>
		<dict>
			<key>label</key>
			<string>m</string>
			<key>frame</key>
			<string>{{240,108},{32,54}}</string>
		</dict>
		<key>delete</key>
		<dict>
			<key>label</key>
			<string>delete</string>
			<key>frame</key>
			<string>{{272,108},{48,54}}</string>
		</dict>
		<key>space</key>
		<dict>
			<key>label</key>
			<string> </string>
			<key>frame</key>
			<string>{{90,162},{140,54}}</string>
		</dict>
		<key>return</key>
		<dict>
			<key>label</key>
			<string>return</string>
			<key>frame</key>
			<string>{{230,162},{90,54}}</string>
		</dict>
		<key>indicator</key>
		<dict>
			<key>label</key>
			<string>indicator</string>
			<key>frame</key>
			<string>{{0,162},{90,54}}</string>
		</dict>
	</dict>
	<key>punctuation</key>
	<dict>
		<key>location</key>
		<integer>2</integer>
		<key>period</key>
		<dict>
			<key>label</key>
			<string>.</string>
			<key>frame</key>
			<string>{{0,0},{32,54}}</string>
		</dict>
		<key>comma</key>
		<dict>
			<key>label</key>
			<string>,</string>
			<key>frame</key>
			<string>{{32,0},{32,54}}</string>
		</dict>
		<key>apostrophe</key>
		<dict>
			<key>label</key>
			<string>&apos;</string>
			<key>frame</key>
			<string>{{64,0},{32,54}}</string>
		</dict>
		<key>colon</key>
		<dict>
			<key>label</key>
			<string>:</string>
			<key>frame</key>
			<string>{{96,0},{32,54}}</string>
		</dict>
		<key>semicolon</key>
		<dict>
			<key>label</key>
			<string>;</string>
			<key>frame</key>
			<string>{{128,0},{32,54}}</string>
		</dict>
		<key>bullet</key>
		<dict>
			<key>label</key>
			<string>•</string>
			<key>frame</key>
			<string>{{160,0},{32,54}}</string>
		</dict>
		<key>registered</key>
		<dict>
			<key>label</key>
			<string>®</string>
			<key>frame</key>
			<string>{{192,0},{32,54}}</string>
		</dict>
		<key>trademark</key>
		<dict>
			<key>label</key>
			<string>™</string>
			<key>frame</key>
			<string>{{224,0},{32,54}}</string>
		</dict>
		<key>copyright</key>
		<dict>
			<key>label</key>
			<string>©</string>
			<key>frame</key>
			<string>{{256,0},{32,54}}</string>
		</dict>
		<key>apple symbol</key>
		<dict>
			<key>label</key>
			<string></string>
			<key>frame</key>
			<string>{{288,0},{32,54}}</string>
		</dict>
		<key>question</key>
		<dict>
			<key>label</key>
			<string>?</string>
			<key>frame</key>
			<string>{{0,54},{32,54}}</string>
		</dict>
		<key>exclamation</key>
		<dict>
			<key>label</key>
			<string>!</string>
			<key>frame</key>
			<string>{{32,54},{32,54}}</string>
		</dict>
		<key>quotes</key>
		<dict>
			<key>label</key>
			<string>&quot;</string>
			<key>frame</key>
			<string>{{64,54},{32,54}}</string>
		</dict>
		<key>and</key>
		<dict>
			<key>label</key>
			<string>&amp;</string>
			<key>frame</key>
			<string>{{96,54},{32,54}}</string>
		</dict>
		<key>carrot</key>
		<dict>
			<key>label</key>
			<string>^</string>
			<key>frame</key>
			<string>{{128,54},{32,54}}</string>
		</dict>
		<key>carrotL</key>
		<dict>
			<key>label</key>
			<string>&lt;</string>
			<key>frame</key>
			<string>{{160,54},{32,54}}</string>
		</dict>
		<key>carrotR</key>
		<dict>
			<key>label</key>
			<string>&gt;</string>
			<key>frame</key>
			<string>{{192,54},{32,54}}</string>
		</dict>
		<key>arrowL</key>
		<dict>
			<key>label</key>
			<string>←</string>
			<key>frame</key>
			<string>{{224,54},{32,54}}</string>
		</dict>
		<key>arrowUp</key>
		<dict>
			<key>label</key>
			<string>↑</string>
			<key>frame</key>
			<string>{{256,54},{32,54}}</string>
		</dict>
		<key>arrowR</key>
		<dict>
			<key>label</key>
			<string>→</string>
			<key>frame</key>
			<string>{{288,54},{32,54}}</string>
		</dict>
		<key>at</key>
		<dict>
			<key>label</key>
			<string>@</string>
			<key>frame</key>
			<string>{{0,108},{32,54}}</string>
		</dict>
		<key>slash</key>
		<dict>
			<key>label</key>
			<string>/</string>
			<key>frame</key>
			<string>{{32,108},{32,54}}</string>
		</dict>
		<key>dash</key>
		<dict>
			<key>label</key>
			<string>﹘</string>
			<key>frame</key>
			<string>{{64,108},{32,54}}</string>
		</dict>
		<key>underscore</key>
		<dict>
			<key>label</key>
			<string>_</string>
			<key>frame</key>
			<string>{{96,108},{32,54}}</string>
		</dict>
		<key>middleDash</key>
		<dict>
			<key>label</key>
			<string>–</string>
			<key>frame</key>
			<string>{{128,108},{32,54}}</string>
		</dict>
		<key>bigDash</key>
		<dict>
			<key>label</key>
			<string>—</string>
			<key>frame</key>
			<string>{{160,108},{32,54}}</string>
		</dict>
		<key>asterisk</key>
		<dict>
			<key>label</key>
			<string>*</string>
			<key>frame</key>
			<string>{{192,108},{32,54}}</string>
		</dict>
		<key>verticalBar</key>
		<dict>
			<key>label</key>
			<string>|</string>
			<key>frame</key>
			<string>{{224,108},{32,54}}</string>
		</dict>
		<key>arrowDown</key>
		<dict>
			<key>label</key>
			<string>↓</string>
			<key>frame</key>
			<string>{{256,108},{32,54}}</string>
		</dict>
		<key>delete</key>
		<dict>
			<key>label</key>
			<string>delete</string>
			<key>frame</key>
			<string>{{288,108},{32,54}}</string>
		</dict>
		<key>space</key>
		<dict>
			<key>label</key>
			<string> </string>
			<key>frame</key>
			<string>{{90,162},{140,54}}</string>
		</dict>
		<key>return</key>
		<dict>
			<key>label</key>
			<string>return</string>
			<key>frame</key>
			<string>{{230,162},{90,54}}</string>
		</dict>
		<key>indicator</key>
		<dict>
			<key>label</key>
			<string>indicator</string>
			<key>frame</key>
			<string>{{0,162},{90,54}}</string>
		</dict>
	</dict>
	<key>numeric</key>
	<dict>
		<key>location</key>
		<string>0</string>
		<key>yen</key>
		<dict>
			<key>label</key>
			<string>¥</string>
			<key>frame</key>
			<string>{{0,0},{32,54}}</string>
		</dict>
		<key>euro</key>
		<dict>
			<key>label</key>
			<string>€</string>
			<key>frame</key>
			<string>{{32,0},{32,54}}</string>
		</dict>
		<key>gbPound</key>
		<dict>
			<key>label</key>
			<string>£</string>
			<key>frame</key>
			<string>{{64,0},{32,54}}</string>
		</dict>
		<key>cent</key>
		<dict>
			<key>label</key>
			<string>¢</string>
			<key>frame</key>
			<string>{{96,0},{32,54}}</string>
		</dict>
		<key>dollar</key>
		<dict>
			<key>label</key>
			<string>$</string>
			<key>frame</key>
			<string>{{128,0},{32,54}}</string>
		</dict>
		<key>one</key>
		<dict>
			<key>label</key>
			<string>1</string>
			<key>frame</key>
			<string>{{160,0},{32,54}}</string>
		</dict>
		<key>two</key>
		<dict>
			<key>label</key>
			<string>2</string>
			<key>frame</key>
			<string>{{192,0},{32,54}}</string>
		</dict>
		<key>three</key>
		<dict>
			<key>label</key>
			<string>3</string>
			<key>frame</key>
			<string>{{224,0},{32,54}}</string>
		</dict>
		<key>four</key>
		<dict>
			<key>label</key>
			<string>4</string>
			<key>frame</key>
			<string>{{256,0},{32,54}}</string>
		</dict>
		<key>five</key>
		<dict>
			<key>label</key>
			<string>5</string>
			<key>frame</key>
			<string>{{288,0},{32,54}}</string>
		</dict>
		<key>bracketL</key>
		<dict>
			<key>label</key>
			<string>[</string>
			<key>frame</key>
			<string>{{0,54},{32,54}}</string>
		</dict>
		<key>bracketR</key>
		<dict>
			<key>label</key>
			<string>]</string>
			<key>frame</key>
			<string>{{32,54},{32,54}}</string>
		</dict>
		<key>paranthesisL</key>
		<dict>
			<key>label</key>
			<string>(</string>
			<key>frame</key>
			<string>{{64,54},{32,54}}</string>
		</dict>
		<key>paranthesisR</key>
		<dict>
			<key>label</key>
			<string>)</string>
			<key>frame</key>
			<string>{{96,54},{32,54}}</string>
		</dict>
		<key>pound</key>
		<dict>
			<key>label</key>
			<string>#</string>
			<key>frame</key>
			<string>{{128,54},{32,54}}</string>
		</dict>
		<key>6</key>
		<dict>
			<key>label</key>
			<string>6</string>
			<key>frame</key>
			<string>{{160,54},{32,54}}</string>
		</dict>
		<key>7</key>
		<dict>
			<key>label</key>
			<string>7</string>
			<key>frame</key>
			<string>{{192,54},{32,54}}</string>
		</dict>
		<key>8</key>
		<dict>
			<key>label</key>
			<string>8</string>
			<key>frame</key>
			<string>{{224,54},{32,54}}</string>
		</dict>
		<key>9</key>
		<dict>
			<key>label</key>
			<string>9</string>
			<key>frame</key>
			<string>{{256,54},{32,54}}</string>
		</dict>
		<key>0</key>
		<dict>
			<key>label</key>
			<string>0</string>
			<key>frame</key>
			<string>{{288,54},{32,54}}</string>
		</dict>
		<key>curlyL</key>
		<dict>
			<key>label</key>
			<string>{</string>
			<key>frame</key>
			<string>{{0,108},{32,54}}</string>
		</dict>
		<key>curlyR</key>
		<dict>
			<key>label</key>
			<string>}</string>
			<key>frame</key>
			<string>{{32,108},{32,54}}</string>
		</dict>
		<key>percent</key>
		<dict>
			<key>label</key>
			<string>%</string>
			<key>frame</key>
			<string>{{64,108},{32,54}}</string>
		</dict>
		<key>approx</key>
		<dict>
			<key>label</key>
			<string>~</string>
			<key>frame</key>
			<string>{{96,108},{32,54}}</string>
		</dict>
		<key>division</key>
		<dict>
			<key>label</key>
			<string>/</string>
			<key>frame</key>
			<string>{{128,108},{32,54}}</string>
		</dict>
		<key>multiplication</key>
		<dict>
			<key>label</key>
			<string>x</string>
			<key>frame</key>
			<string>{{160,108},{32,54}}</string>
		</dict>
		<key>subtraction</key>
		<dict>
			<key>label</key>
			<string>-</string>
			<key>frame</key>
			<string>{{192,108},{32,54}}</string>
		</dict>
		<key>addition</key>
		<dict>
			<key>label</key>
			<string>+</string>
			<key>frame</key>
			<string>{{224,108},{32,54}}</string>
		</dict>
		<key>equals</key>
		<dict>
			<key>label</key>
			<string>=</string>
			<key>frame</key>
			<string>{{256,108},{32,54}}</string>
		</dict>
		<key>delete</key>
		<dict>
			<key>label</key>
			<string>delete</string>
			<key>frame</key>
			<string>{{288,108},{32,54}}</string>
		</dict>
		<key>space</key>
		<dict>
			<key>label</key>
			<string> </string>
			<key>frame</key>
			<string>{{90,162},{140,54}}</string>
		</dict>
		<key>return</key>
		<dict>
			<key>label</key>
			<string>return</string>
			<key>frame</key>
			<string>{{230,162},{90,54}}</string>
		</dict>
		<key>indicator</key>
		<dict>
			<key>label</key>
			<string>indicator</string>
			<key>frame</key>
			<string>{{0,162},{90,54}}</string>
		</dict>
	</dict>
</dict>
</plist>
